.profile {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  width: 270px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.avatar {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.name {
  font-size: 20px;
  color: #4a4a4a;
  margin: 5px 0;
}

.tag {
  color: #9b9b9b;
  margin-bottom: 10px;
}

.location {
  color: #9b9b9b;
  margin-bottom: 20px;
}

.stats {
  display: flex;
  justify-content: space-between;
}

.stats li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
}

.label {
  color: #9b9b9b;
  margin-bottom: 5px;
}

.quantity {
  color: #4a4a4a;
  font-weight: bold;
}
